<p id="notice"><%= notice %></p>

<div class="header"><h1>Upload Background Check Report</h1>
</div>
<%= render 'form', download: @download %>

<%= link_to 'Back', downloads_path, class:"misc-button" %>
