<p id="notice"><%= notice %></p>


<div class="header">
  <h1>Editing Client</h1>
</div>
<%= render 'form', client: @client %>

<%= link_to 'Show', @client, class:"misc-button" %> |
<%= link_to 'Back', clients_path, class:"misc-button" %>
