<p id="notice"><%= notice %></p>

<header>
  <h1>About</h1>
</header>

<hr style="border: 2px outset #595955;">


<section class="jumbotron  text-center">
  <h1>Talon Agency Design Team</h1>
</section>
<section class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Stuart Griffin</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Dominick Licciardi</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Ian Mutahi</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Mohammad Monsoor</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Warren Ramos</div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Grant Schumacher</div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Jose Valasquez</div>
  </div>

  <hr style="border: 2px outset #595955;">

</section>
