<div class="container-fluid center">
  <!--<section class="  image_insert">-->
  <br>
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1 text-center">Welcome to Talon Agency | 800-501-3256</h1>
    </div>
  </div>
  <hr style="border: 2px outset #595955;">
  <div class="text-center">
    <img width="30%" height="30%" src="/american-eagle.jpg">
  </div>
  <h3 class="text-center lead" >We are a full-service investigation agency and provide</h3>
  <h3 class="text-center lead"> the most comprehensive background checks in the US.</h3><br>
</div>