<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

<div>
  <img style="z-index: -1; margin-top: -200px; margin-right: -500px; margin-bottom: -80px; position: absolute;" class=" align-middle w-100" src="/background_shape.png" alt="Background Shape Image">
</div>

<p id="notice"><%= notice %></p>
<div class="header" style="margin-left: 45px; margin-right: 45px; margin-top: 45px;">
  <h1><a href="/"><img src=<%=asset_path('TalonAgencyLogo.png')%> width="45" height="41" class="d-inline-block align-top" "  alt=""></a>
    Talon Agency</h1>
    <hr style="border: 1px outset #595955;">
</div>

<div class="container-fluid center">
  <main>
    <!-- Background image -->
<!--    <div class="bg-image"-->
<!--         style="background-image: url('https://i.postimg.cc/1XVTBbS1/Talon-Agency-Logo.png');-->
<!--             height: 100vh">-->
<!--    </div>-->
    <!-- Background image -->



    <div class="container-fluid">
      <div class="row">
        <h1 class="talon-landing-header"> The most comprehensive background checks in the US. </h1>
      </div>
    </div>


    <div class="container" style="position:absolute; left: 0; right: 0; margin-top: 60px; ">
      <div class="container-fluid" style="margin-bottom: 80px; margin-top: 80px;">
        <div class="row" style="background: #49b5fd; border-radius: 20px; padding: 20px;">
          <div class="col-5">
            <div class="media">
              <img style="border-radius:20px;" class=" align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
            </div>  
          </div>
        <div class="col-1"> </div>
      </div>
    </div>
    


    <div class="container-fluid" style=" margin-top:80px; margin-bottom:80px; position: relative; z-index: 1;">
      <div class="row" style="">
        <div class="col-6""> </div>
        <div class="col-5" style="background: #1D3557; padding: 50px;">
            <h2 class="text-left " style=" color: #49b5fd; white-space: nowrap">
              To access the TalonAgency.com <br> encrypted request manager: </h2>
            <h4 class="text-left " style="margin-top:30px; margin-bottom: 30px; color: #FFFFFF; white-space: nowrap">
              1) Click Login to Sign Up for the 1st time. <br>
              2) From the Clients page, create a New Client Profile. <br>
              3) Once approved by an Investigator, you can make <br> &nbsp&nbsp&nbsp&nbsp New Requests from the Requests page. <br>
              4) You will be notified when your Request is <br> &nbsp&nbsp&nbsp&nbsp ready for download.
            </h4>
        </div>
      </div>
    </div>
</div>
<!--    <div class="row">-->
<!--      <div class="col-4"> I'm column width 4</div>-->
<!--      <div class="col-1">I'm coluimn witdh 1<div>-->
<!--      <div class="col-4">I'm column witdth 6</div>-->
<!--    </div>-->

<!--    <div class="row mt-5">-->
<!--      <div class="col-4">-->
<!--        <div class="col-6">-->
<!--          <h3 class="text-left " style="margin-top:50px; margin-bottom: 50px; color: #9c9c9c;">All of the details of a comprehensive background check without the work. Recieve and disbribute fast and secure comprehensive background checks all online. </h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </main>

</div>