<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">


  <img style="z-index: -1; margin-top: -200px; margin-right: -500px; margin-bottom: -80px; position: absolute;" class=" align-middle w-100" src="/background_shape.png" alt="Background Shape Image"> 


<p id="notice"><%= notice %></p>
<div class="header" style=" margin-top: 20px;">
  <h1>Talon Agency</h1>
    <hr style="border: 1px outset #595955;">
</div>

<div class="container-fluid center" >
  <main style="margin-right: 30px;">
      
      <h1 class="talon-landing-header" style="margin-left: 30px;"> The most comprehensive background checks in the US. </h1>
    
      <div class="container-fluid" style="margin-bottom: 80px; margin-top: 150px; position: relative;">
        <div class="row" style="background: #49b5fd; border-radius: 10px; padding: 20px; position: absolute; z-index: -1;">
          <div class="col-5">
            <div class="media">
              <img style="border-radius:20px;" class=" align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
            </div>  
          </div>
          <div class="col-1"> </div>
      </div>
      </div>

    </div>

      <div class="container-fluid" style="position: relative; margin-top: -60px;">
        <div class="row">
        <div class="col-6"></div>

        <div class="col-6">
          <div class="shadow-lg" style="background: #1D3557; padding: 20px; border-radius: 10px;  min-height: 40vw; width: 90%;"> 
            <div style="margin:10px;">
              <h2 class="text-left " style=" color: #F1FAEE; font-weight: bold; font-size: 3vw;">
                Getting Started:</h2>
              <h4 class="text-justify " style="margin-top:30px; margin-bottom: 30px; color: #F1FAEE; font-size: 2vw; font-family: Arial, Helvetica, sans-serif;">
                To begin the encryped request first Login or Signup. From there you can go to the clients page and create a new client profile. Once approved by a an investigator, you can create new requests on the Requests page. You will be notified once your request is ready for download.
              </h4>
            </div>
            
          </div>
        </div>
      </div>
    
  </main>

</div>