<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

<meta name=”viewport” content=”width=device-width, initial-scale=1.0">
<div class = "container" style="height: 100vh; top: 0; right: 0; background: url(background_shape.png) no-repeat left right relative">
  <!--<img id="bg-id" class="bg-theme align-middle w-105 bg-image" src="/background_shape.png" alt="Background Shape Image"> -->

<main> 
<p id="notice"><%= notice %></p>
<div class="header">
  <h1 class="display-7">Talon Agency</h1>
    <hr class="divider">
</div>
      <div class="container-fluid mb-5">
        <h1 class="talon-landing-header mt-5"> The most comprehensive background checks in the US. </h1>
      </div>

      <div id="image-container" class="image-container center media">
        <div class="row image-box-bg ml-auto">
          <div class="col-6">
            <img class="eagle-image-style align-middle"  src="/american-eagle.jpg" alt="american Eagle Image">
          </div>

          <div class="col-1">

          </div>

          <div class="col-5">
            
        </div>
      </div>  

       <div class="description-container container-fluid">
        <div class="row">
        <div class="col-6"></div>

        <div class="col-6">
          <div class="desc-container shadow-lg p-2 container"> 
          </div>
        </div>
      </div>
<main>



      <!--
      <div class="container-fluid">
        <h1 class="talon-landing-header mt-5"> The most comprehensive background checks in the US. </h1>
      </div>

      <div class="image-container container-fluid center">
        <div class="image-box-bg row">
          <div class="col-5">
            <div class="media">
              <img class="eagle-image-style align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
            </div>  
          </div>
          <div class="col-1"> </div>
      </div>
      </div>

    </div>

      <div class="description-container container-fluid">
        <div class="row">
        <div class="col-6"></div>

        <div class="col-6">
          <div class="desc-container shadow-lg p-2 container"> 
            <div class="desc-title-container justify-content-center flex-row">
              <h2 class="desc-title text-left display-7">
                Getting Started:</h2>
              <h4 class="text-justify desc-text">
                To begin the encryped request first Login or Signup. From there you can go to the clients page and create a new client profile. Once approved by a an investigator, you can create new requests on the Requests page. You will be notified once your request is ready for download.
              </h4>
            </div>
            
          </div>
        </div>
      </div>
  
    


</div>
  </main>   -->
