<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

<meta name=”viewport” content=”width=device-width, initial-scale=1.0">
<div class = "container" style="height: 100vh; top: 0; right: 0; background: url(background_shape.png) no-repeat left right relative">
  <img id="bg-id" class="align-middle w-105 bg-image" src="/background_shape.png" alt="Background Shape Image">

<main>
<p id="notice"><%= notice %></p>
<div class="header">
  <h1 class="display-7">Talon Agency</h1>
    <hr class="divider">
</div>
      <div class="container-fluid mb-5">
        <h1 class="talon-landing-header mt-5"> The most comprehensive background checks in the US. </h1>
      </div>
<!--
     <div id="info-container" class="container p-3 info-container media">
        <div id="info-row"  class="row shadow-lg  media" style="border-radius: 1rem; background: #49b5fd;">
          <div class="col-lg-6 text-center">
            <img class="img-fluid shadow-md p-3 mx-0" style="border-radius: 2em;" src="/american-eagle.jpg" alt="American Eagle Image">
          </div>

          <div id="getting-started-container" class="neg-marg col-lg-6 h-100 media">
            <div class="shadow-lg p-4 container desc-container">
              <h2 class="desc-title text-left display-7"> Getting Started:</h2>
                <ul class="desc-text">
                  <li> Click Login to Sign Up or Log In. </li>
                  <li> Go to the Clients page and complete a New Client application.</li>
                  <li> Once approved by an Investigator, you can create New Requests from the Requests page. </li>
                  <li> You will be notified once your request is ready for download. </li>
                </ul>
            </div>
          </div>

        </div>
      </div>
-->
  <div class="container">
    <div class="row">
      <div class="col text-center" style="color: white; font-family: Arial, Helvetica, sans-serif; font-size: 5vw; font-weight: bold;">
        Getting Started
      </div>
    </div>

    <div class="row mt-5">
      <div class="col mt-auto d-flex justify-content-center">
        <figure>
          <img src="/Login.svg" alt="Login-Icon">
          <figcaption class="mt-4">
            <h3 style="color: white; text-align: center; font-weight: bold;">Login</h3>
          </figcaption>
        </figure>
      </div>
      <div class="col mt-auto d-flex justify-content-center">
        <figure>
        <img src="/Apply.svg" alt="Apply-Icon">
          <figcaption class="mt-4">
            <h3 style="color: white; text-align: center; font-weight: bold;">Apply</h3>
          </figcaption>
        </figure>
      </div>
      <div class="col mt-auto d-flex justify-content-center">
        <figure>
        <img src="/Request.svg" alt="Request-Icon">
          <figcaption class="mt-4">
            <h3 style="color: white; text-align: center; font-weight: bold;">Request</h3>
          </figcaption>
        </figure>
      </div>
      <div class="col mt-auto d-flex justify-content-center">
        <figure>
        <img src="/Download.svg" alt="Download-Icon">
        <figcaption class="mt-4">
          <h3 style="color: white; text-align: center; font-weight: bold;">Download</h3>
        </figcaption>
        </figure>
      </div>
    </div>
  </div>


  <main>
