<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div class="header">
  <h1><a href="index"><img src=<%=asset_path('TalonAgencyLogo.png')%> width="45" height="41" class="d-inline-block align-top"  alt=""></a>
    Talon Agency</h1>
</div>
<hr style="border: 1px outset #595955;">

<div class="container-fluid center">
  <main>
    <!-- Background image -->
<!--    <div class="bg-image"-->
<!--         style="background-image: url('https://i.postimg.cc/1XVTBbS1/Talon-Agency-Logo.png');-->
<!--             height: 100vh">-->
<!--    </div>-->
    <!-- Background image -->



    <div class="container-fluid">
      <div class="row">
        <h1 class="talon-landing-header"> The most comprehensive background checks in the US </h1>
      </div>
    </div>

    <div class="container-fluid" style="margin-top:30px;">
      <div class="row">
        <div class="col-5">
          <div class="media">
            <img width="50%" height="50%" style="border-radius:20px;" class=" align-middle w-100" src="/american-eagle.jpg" alt="American Eagle Image">
          </div>
        </div>
        <div class="col-6">
          <h4 class="text-left " style=" color: #9c9c9c;">
            To access the TalonAgency.com encrypted request manager: </h4>
          <h4 class="text-left " style="margin-top:30px; margin-bottom: 30px; color: #9c9c9c;">
            1) Login <br>
            2) Create a New Client Profile <br>
            3) Once approved by an Investigator, you can make New Requests from the Requests page. </h4>
        </div>
      </div>
    </div>

<!--    <div class="row">-->
<!--      <div class="col-4"> I'm column width 4</div>-->
<!--      <div class="col-1">I'm coluimn witdh 1<div>-->
<!--      <div class="col-4">I'm column witdth 6</div>-->
<!--    </div>-->

<!--    <div class="row mt-5">-->
<!--      <div class="col-4">-->
<!--        <div class="col-6">-->
<!--          <h3 class="text-left " style="margin-top:50px; margin-bottom: 50px; color: #9c9c9c;">All of the details of a comprehensive background check without the work. Recieve and disbribute fast and secure comprehensive background checks all online. </h3>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </main>
</div>