// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.footer {
    height: 25px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #999999;
    color: white;
    text-align: center;
  }